/target
/backend/src/main

# Added by cargo
#
# already existing elements were commented out

#/target/

/target/
**/*.rlib
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.rs.bk
# IDE and editor files
.vscode/
